/* 사이드바 */
.bg-dark {
    background: linear-gradient(45deg, rgba(72, 72, 72, 1), rgba(5, 5, 5, 1));
    color: white;
    max-width: 210px;
}

.bg-dark p, .bg-dark ul {
    margin: 0;
    padding: 20px;
    transition: background 0.3s ease;
    cursor: pointer;
}

.bg-dark ul {
    list-style-type: none; 
    padding: 0; 
    display: none; 
    margin-top: 5px; /* 상단 마진 추가 */
}

.bg-dark a {
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
    height: 100%;
    text-decoration: none; /* 새로 추가 */
    vertical-align: middle;
}

.bg-dark i {
    margin-right: 20px;
    font-size: 20px;
    vertical-align: middle;
}

.bg-dark i.fas {
    font-size: 20px;
}

.bg-dark i.fa-solid {
    font-size: 20px;
}

.bg-dark li a {
    padding-left: 40px; /* 새로 추가 */
}

.bg-dark p:hover, .bg-dark ul li a:hover {
    background: rgba(255, 255, 255, 0.2); /* 수정 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 새로 추가 */
}

#userinfoInfoTable {
    font-size: 13px;
}
.address-cell {
	padding-right: 50px;
}

/* Select Box */
#pageSizeSelect {
    float: right; /* 오른쪽 위에 위치 */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin: 10px;
    width: auto;
    background: none; /* 배경 제거 */
    box-shadow: none; /* 그림자 제거 */
}

/* 버튼 스타일 */
#viewSelect {
    float: left; /* 왼쪽 위에 위치 */
    background: none; /* 배경 제거 */
    box-shadow: none; /* 그림자 제거 */
}

#viewSelect .btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#viewSelect .btn:hover {
    background-color: #0056b3;
}

/* 페이지 번호 */
#pageNumDiv {
    text-align: center; /* 정중앙에 위치 */
    margin-top: 10px;
    background: none; /* 배경 제거 */
    box-shadow: none; /* 그림자 제거 */
}

/* 검색 창 */
#searchDiv {
    margin-top: 20px;
    background: none; /* 배경 제거 */
    box-shadow: none; /* 그림자 제거 */
}

#searchDiv input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border 0.3s ease;
}

#searchDiv input:focus {
    border: 1px solid #007bff;
}


/* 아이콘과 텍스트 간의 공백 설정 */
i {
    margin-right: 10px; /* 아이콘 오른쪽 여백 */
    width: 20px;
    height: 20px;
    font-size: 20px;
    vertical-align: middle;
}

/* 메뉴 텍스트 스타일 */
p a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

/* 메뉴 아이콘 크기와 여백 조정 */
/* 패키지 메뉴 아이콘과 텍스트 간의 공백 설정 */
#package-menumain i {
    margin-right: 20px; /* 아이콘 오른쪽 여백 조절 */
    width: 20px; /* 아이콘의 크기 설정 */
    height: 20px;
    font-size: 20px;
    vertical-align: middle;
}

/* 초기에 숨김 처리 */
#package-menu {
    display: none;
}

/* 패키지 메뉴 디자인 */
#package-menumain {
    background: linear-gradient(45deg, rgba(72, 72, 72, 1), rgba(5, 5, 5, 1));
    color: white;
    padding: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#package-menumain a {
    color: white;
    text-decoration: none;
}

#package-menu {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    display: none;
}

#package-menu li a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    display: block;
}

#package-menu li a:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#userinfo-menumain i {
    margin-right: 20px; /* 아이콘 오른쪽 여백 조절 */
    width: 20px; /* 아이콘의 크기 설정 */
    height: 20px;
    font-size: 20px;
    vertical-align: middle;
}

/* 초기에 숨김 처리 */
#userinfo-menu {
    display: none;
}

/* 패키지 메뉴 디자인 */
#userinfo-menumain {
    background: linear-gradient(45deg, rgba(72, 72, 72, 1), rgba(5, 5, 5, 1));
    color: white;
    padding: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#userinfo-menumain a {
    color: white;
    text-decoration: none;
}

#userinfo-menu {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    display: none;
}

#userinfo-menu li a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    display: block;
}

#userinfo-menu li a:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#diy-menumain i {
    margin-right: 20px; /* 아이콘 오른쪽 여백 조절 */
    width: 20px; /* 아이콘의 크기 설정 */
    height: 20px;
    font-size: 20px;
    vertical-align: middle;
}

/* 초기에 숨김 처리 */
#diy-menu {
    display: none;
}

/* 패키지 메뉴 디자인 */
#diy-menumain {
    background: linear-gradient(45deg, rgba(72, 72, 72, 1), rgba(5, 5, 5, 1));
    color: white;
    padding: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#diy-menumain a {
    color: white;
    text-decoration: none;
}

#diy-menu {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    display: none;
}

#diy-menu li a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    display: block;
}

#diy-menu li a:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#notice-menumain i {
    margin-right: 20px; /* 아이콘 오른쪽 여백 조절 */
    width: 20px; /* 아이콘의 크기 설정 */
    height: 20px;
    font-size: 20px;
    vertical-align: middle;
}

/* 초기에 숨김 처리 */
#notice-menu {
    display: none;
}

/* 패키지 메뉴 디자인 */
#notice-menumain {
    background: linear-gradient(45deg, rgba(72, 72, 72, 1), rgba(5, 5, 5, 1));
    color: white;
    padding: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#notice-menumain a {
    color: white;
    text-decoration: none;
}

#notice-menu {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    display: none;
}

#notice-menu li a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    display: block;
}

#notice-menu li a:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#qa-menumain i {
    margin-right: 20px; /* 아이콘 오른쪽 여백 조절 */
    width: 20px; /* 아이콘의 크기 설정 */
    height: 20px;
    font-size: 20px;
    vertical-align: middle;
}

/* 초기에 숨김 처리 */
#qa-menu {
    display: none;
}

/* 패키지 메뉴 디자인 */
#qa-menumain {
    background: linear-gradient(45deg, rgba(72, 72, 72, 1), rgba(5, 5, 5, 1));
    color: white;
    padding: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#qa-menumain a {
    color: white;
    text-decoration: none;
}

#qa-menu {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    display: none;
}

#qa-menu li a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    display: block;
}

#qa-menu li a:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#order-menumain i {
    margin-right: 20px; /* 아이콘 오른쪽 여백 조절 */
    width: 20px; /* 아이콘의 크기 설정 */
    height: 20px;
    font-size: 20px;
    vertical-align: middle;
}

/* 초기에 숨김 처리 */
#order-menu {
    display: none;
}

/* 패키지 메뉴 디자인 */
#order-menumain {
    background: linear-gradient(45deg, rgba(72, 72, 72, 1), rgba(5, 5, 5, 1));
    color: white;
    padding: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#order-menumain a {
    color: white;
    text-decoration: none;
}

#order-menu {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    display: none;
}

#order-menu li a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    display: block;
}

#order-menu li a:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}