@charset "UTF-8";

/**로그인****************************************/
#login_form {
   max-width: 640px;
    margin: 0 auto;
    color: #1c1c1c;
}

.title_f{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #333;
    margin-bottom:50px;
   
}

.input_f {
   width: 100%;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    outline: none;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding: 12px 20px;
    min-height: 50px;
    margin-bottom:10px;
    
   
}
.input_f:hover, .input_f:focus{
    padding: 11px 19px;
    border: 2px solid #1c1c1c;
    
}
.btn_f{
   width: 100%;
    padding: 14px 0;
    background: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
.btn_kakao{
    width: 100%;
    padding: 14px 0;
    background: #fee500;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #fff0;
    margin: 55px 0 15px 0;
}
.btn_naver{
   width: 100%;
    padding: 14px 0;
    background: #17b75e;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border:1px solid #fff0
}

.login_con{
   text-align: right;
    padding: 8px 0 30px 0;
}
.login_con a{
    color: #000;
    margin-right: 15px;
    font-weight: 500;
}





/**회원가입****************************************/
.join_form_section {
   max-width: 640px;
   margin: 0 auto;
    color: #1c1c1c;
}

.s_tit{
   font-size:15px;
   font-weight:600;
   margin-bottom:5px;
   color: #1c1c1c;
}





.gen_m{
   font-size: 16px;
    margin-right: 20px;
    margin-left: 5px;
}

.join_tt{
   width:100%;
}
.join_tt:after{
   content:"";
   display:block;
   clear:both;
}
.join_right{
   width:80%;
   float:left;
   padding-right:2%;
}
.join_left{
   width:20%;
   float:left;
}



.me_btn{
   background: #ff9b40;
    color: #fff;
    border-color: #ff9b40;
    padding: 12px 36px;
}
.me_btn:hover{
   background: #ff9b40;
    color: #fff;
    border-color:#ff9b40;
    padding: 12px 36px;
}

.me_btn:focus + .me_btn, .me_btn:focus .me_btn:select{
   background: #ff9b40;
    color: #fff;
    border-color: #ff9b40;
}
.sp{
   margin-bottom:12px;
}
.join_form_section{
   position:relative;
}
.join_button_b{
   position:absolute;
   left:230px;
}
.join_button{
   width: 100%;
    margin: 0 auto;
    background: #000;
    border: 1px solid #000;
    /* border: 1px solid #4472c4; */
    color: #fff;
    padding: 15px 63px;
    text-align: center;
    border-radius: 5px;
}


.id_input_re_1{
   color : blue;
   display : none;
}


/* 중복아이디 존재하는 경우 */
.id_input_re_2{
   color : red;
   display : none;
}
.id_input_re_1, .id_input_re_2 {
        display: none;
}

/* 이름 2글자 */
.name_input_re{
   color: red;
   display: none;
}
/* 아이디 정규식 */
.id_input_re{
   color: red;
   display: none;
}
/* 비밀번호 정규식 */
.pw_input_re{
   color: red;
   display: none;
}
.pw_input_re2{
   color: blue;
   display: none;
}
/* 이메일 정규식 */
.email_input_re{
   color: red;
   display: none;
}
/* 생년월일 정규식 */
.year_input_re{
   color: red;
   display: none;
}
/* 휴대폰번호 정규식 */
.phone_input_re{
   color: red;
   display: none;
}

/* 유효성 검사 문구 */
.final_id_ck{
    display: none;
    color: red;
}
.final_pw_ck{
    display: none;
    color: red;
}
.final_pwck_ck{
    display: none;
    color: red;
}
.final_name_ck{
    display: none;
    color: red;
}
.final_email_ck{
    display: none;
    color: red;
}
.final_gender_ck{
    display: none;
    color: red;
}    
.final_year_ck{
    display: none;
    color: red;
}
.final_phone_ck{
    display: none;
    color: red;
}
.final_address_ck{
    display: none;
    color: red;
}
/* 비밀번호 확인 일치 유효성검사 */
.pwck_input_re_1{
        color : blue;
        display : none;    
}
.pwck_input_re_2{
        color : red;
        display : none;    
}

input.agree {
   align-items: center;
   font-size: 20pt;
   width: 15px;
   height: 15px;
}


.login_button_wrap{
       text-align: center;
       margin-top: 30px;
   }
.login_button_wrap button{
   width:170px;
   padding:13px 0;
   border:1px solid #fffa
}
.login_button_wrap .btn1{
      background:#eee;
      margin-right:5px;
   }
.login_button_wrap .btn2{
   background:#000;
   color:#fff;
   padding:11px 61px;
   
}




/* 유효성 검사 문구 */
.final_current_ck{
   display: none;
   color: red;
}

.final_current_check{
   display: none;
   color: red;
}


.fg_btn{
   text-align:center;
   margin-top:45px;
}


.form-group .btn1{
   border:1px solid #fff0;
   background:#000;
   padding:10px 30px;
   color:#fff;
   margin-right:5px;
}

.form-group .btn2{
   border:1px solid #fff0;
   background:#eee;
   padding:10px 30px;
}




/***고객센터******************/

.center_t1{
   font-weight:700;
   margin-top:30px;
}
.center_t2{
   font-weight:500;
   margin-bottom:80px;
}


.c_con1{
   margin-bottom:70px;
}

.c_con1:after{
   content:"";
   display:block;
   clear:both;
}

.c_con1_left{
   width: 37%;
    float: left;
    background: #eee;
    margin-right: 4%;
    padding: 45px 45px 100px 45px;
    border-radius: 10px;
}
.c_con1_right{
   width: 49%;
    float: left;
    background: #eee;
    padding: 45px;
    border-radius: 10px;
}
.c_con1_tit{
   font-weight:700;
   margin-bottom:30px;
}

.c_con1_left li{
   margin-bottom:6px;
}
.c_con1_right li{
   margin-bottom:6px;
}


.c_con2{
   margin-bottom:80px;   

}



.c_con2 li{
   margin-bottom:20px;   

}
.c_con2 sp{
   margin-bottom:20px;
}


.faq-question {
   cursor: pointer;
   
}
.faq-question a{
   font-size:16px;
   font-weight:600;
   color:#7e7e7e;
}




.faq-answer {
   display: none;
   margin-top: 10px;
   padding: 10px;
   border-top: 1px solid #ddd;
   
   font-size:16px;
   color:#000;
   margin-bottom:30px;
   
}