<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moyeo.mapper.DiyMapper">
	<insert id="insertDiy">
		<selectKey resultType="int" keyProperty="diyIdx" order="BEFORE">
			SELECT diy_seq.nextval 
			FROM DUAL
		</selectKey>
        INSERT INTO diy (
        		diy_idx,
        		userinfo_id,
        		diy_startdate,
        		diy_enddate,
        		diy_people,
        		diy_loc,
        		diy_price,
        		diy_map,
        		diy_regdate,
        		diy_title,
        		diy_introduction,
        		diy_thumbnail,
        		diy_content1img,
        		diy_content1,
        		diy_content2img,
        		diy_content2,
        		diy_content3img,
        		diy_content3,
        		diy_content4img,
        		diy_content4)
        
        VALUES(
                #{diyIdx},
                #{userinfoId},
                #{diyStartdate},
                #{diyEnddate},
                #{diyPeople},
                #{diyLoc},
                #{diyPrice}, 
                #{diyMap},
                SYSTIMESTAMP,
                #{diyTitle},
                #{diyIntroduction},
                #{diyThumbnail},
                #{diyContent1Img},
                #{diyContent1},
                #{diyContent2Img},
                #{diyContent2},
                #{diyContent3Img},
                #{diyContent3},
                #{diyContent4Img},
                #{diyContent4})
    </insert>


	<select id="selectDiy" resultType="Diy">
        SELECT 
        		diy_idx,
        		userinfo_id,
        		diy_startdate,
        		diy_enddate,
        		diy_people,
        		diy_loc,
        		diy_price,
        		diy_map,
        		TO_CHAR(diy_regdate, 'yyyy-mm-dd'),
        		TO_CHAR(diy_modifydate, 'yyyy-mm-dd'),
        		love_idx,
        		diy_title,
        		diy_introduction,
        		diy_content1img,
        		diy_content1,
        		diy_content2img,
        		diy_content2,
        		diy_content3img,
        		diy_content3,
        		diy_content4img,
        		diy_content4
        FROM diy
        WHERE diy_idx=#{diyIdx}
	</select>
	
	
	<select id="selectDiyList" resultType="com.moyeo.dto.Diy">
        SELECT 
        		diy_idx,
        		diy_thumbnail,
        		diy_title,
        		diy_people,
        		diy_startdate,
        		diy_loc,
        		diy_regdate,
        		love_idx,
        		diy_introduction
        FROM diy  
        ORDER BY diy_idx DESC
    </select>
       
       
	<delete id="deleteDiy" parameterType="com.moyeo.dto.Diy">
        DELETE 
        FROM diy
        WHERE userinfo_id=#{userinfoId} and diy_idx=#{diyIdx};
	</delete>


	<update id="updateDiy" parameterType="com.moyeo.dto.Diy">
        UPDATE diy
        <set>
        	<if test="diyStartdate != null and diyStartdate != ''">
        		 diy_startdate=#{diyStartDate},
        	</if>
        	
        	<if test="diyEnddate != null and diyEnddate != ''">
        		 diy_enddate=#{diyEndDate},
        	</if>
        	
        	<if test="diyPeople != null and diyPeople != ''">
        		 diy_people=#{diyPeople},
        	</if>
        	
        	<if test="diyLoc != null and diyLoc != ''">
        		 diy_loc=#{diyLoc},
        	</if>
        	
        	<if test="diyPrice != null and diyPrice != ''">
        		 diy_price=#{diyPrice},
        	</if>
        	
        	<if test="diyMap != null and diyMap != ''">
        		 diy_map=#{diyMap},
        	</if>
        	
			<if test="diyRegdate != null and diyRegdate != ''">
        		 diy_modifydate=SYSTIMESTAMP,
        	</if>
        	
        	<if test="diyTitle != null and diyTitle != ''">
        		 diy_title=#{diyTitle},
        	</if>
        	
        	<if test="diyTitle != null and diyTitle != ''">
        		 diy_introduction=#{diyIntroduction},
        	</if>
        	
        	<if test="diyContent1 != null and diyContent1 != ''">
        		 diy_content1=#{diyContent1},
        	</if>
        	
        	<if test="diyContent2 != null and diyContent2 != ''">
        		 diy_content2=#{diyContent2},
        	</if>
        	
        	<if test="diyContent3 != null and diyContent3 != ''">
        		 diy_content3=#{diyContent3},
        	</if>
        	
        	<if test="diyContent4 != null and diyContent4 != ''">
        		 diy_content4=#{diyContent4},
        	</if>
        	
        	<if test="diyContent5 != null and diyContent5 != ''">
        		 diy_content5=#{diyContent5}
        	</if>
        </set>

        WHERE userinfo_id=#{userinfoId};
	</update>
</mapper>