<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moyeo.mapper.PackageHeartMapper">
	
	<!-- 찜하기(삽입) -->
	<insert id="insertPackageHeart">
      <selectKey resultType="int" keyProperty="packHeartIdx" order="BEFORE">
         SELECT pack_heart_seq.nextval 
         FROM DUAL
      </selectKey>
	      INSERT INTO 
	      pack_heart (
	         pack_heart_idx
	         , userinfo_id
	         , pack_idx
	      ) 
	      VALUES (
	        #{packHeartIdx}
	        , #{userinfoId}
	        , #{packIdx}
	      )
   	</insert> 
   	
   <!-- 찜 삭제 -->
   <delete id="deletePackageHeart">
		DELETE FROM pack_heart 
		WHERE pack_heart_idx=#{packHeartIdx}
		AND userinfo_id=#{userinfoId}
	</delete>
	
	<!-- 찜 목록 확인 -->
   	<select id="selectPackageHeartById" resultType="PackHeart">
      SELECT 
      		pack_heart_idx
	        , userinfo_id
	        , pack_idx
      FROM pack_heart
      WHERE userinfo_id=#{userinfoId}
   </select>
   
    <!-- 이미 찜한 게시물인지 조회 -->
   	<select id="selectPackIdxWithId" resultType="PackHeart">
      SELECT 
      		pack_heart_idx
	        , userinfo_id
	        , pack_idx
      FROM pack_heart
      WHERE pack_idx=#{packIdx}
      AND userinfo_id=#{userinfoId}
   </select>
   
   <!-- 추가했음 --> 
   <!-- 패키지 번호로 검색 -->
   <select id="selectPackHeartIdxByPackIdx" resultType="PackHeart">
   		SELECT 
   			pack_heart_idx
   			, userinfo_id
	        , pack_idx
   		FROM pack_heart 
   		WHERE pack_idx=#{packIdx}
   </select>
   
   <!-- 추가해야함 -->
   <!-- 게시물 삭제시 전체 삭제 -->
   <delete id="deleteAllByPackIdx">
		DELETE FROM pack_heart
		WHERE pack_idx = #{packIdx}
	</delete>

   
   
   <!-- userinfo-details -->
	<select id="selectMyPackageHeartCount" resultType="int">
		SELECT
			COUNT(*) AS pack_heart_count
		FROM pack_heart
		WHERE userinfo_id = #{userinfoId}
	</select>
	
	<!-- WISH 목록 조회 -->
    <select id="selectMyPackageHeartList" resultType="PackHeart">
        SELECT * FROM (
          SELECT ROWNUM RN, BOARD.* FROM (
			SELECT
				pack_heart_idx
			        , userinfo_id
			        , pack_idx
			FROM pack_heart 
            WHERE userinfo_id = #{userinfoId}
            ORDER BY pack_heart_idx DESC
          ) BOARD
      ) WHERE RN BETWEEN #{startRow} and #{endRow}<!-- 페이징 처리 -->
    </select>
   
</mapper>