<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moyeo.mapper.PackageMapper">

	<!-- 관리자  -->
	
	<!-- 패키지 등록 -->
	<insert id="insertPackage">
		<selectKey resultType="int" keyProperty="packIdx" order="BEFORE">
			SELECT pack_seq.nextval 
			FROM DUAL
		</selectKey>
		INSERT INTO 
		pack (
			pack_idx
			, pack_title
			, pack_kind
			, pack_preview
			, pack_main
			, pack_content
			, pack_calendar
			, pack_startdate
			, pack_enddate
			, pack_regdate
			, pack_people
			, pack_childcount
			, pack_adultcount
			, pack_adultprice
			, pack_childprice
			, pack_status
		) 
		VALUES (
			#{packIdx}
			, #{packTitle}
			, #{packKind}
			, #{packPreview}
			, #{packMain}
			, #{packContent}
			, #{packCalendar}
			, #{packStartDate}
			, #{packEndDate}
			, sysdate
			, #{packPeople}
			, #{packChildCount}
			, #{packAdultCount}
			, #{packAdultPrice}
			, #{packChildPrice}
			, #{packStatus}
		)
	</insert>

	<!-- 패키지 변경 -->
	<update id="updatePack">
		UPDATE pack
		<set>
			<if test="pack_kind != null and pack_kind != ''">
				pack_kind=#{packKind},
			</if>
			<if test="pack_title != null and pack_title != ''">
				pack_title=#{packTitle},
			</if>
			<if test="pack_preview != null and pack_preview != ''">
				pack_preview=#{packPreview},
			</if>
			<if test="pack_main != null and pack_main != ''">
				pack_main=#{packMain},
			</if>
			<if test="pack_content != null and pack_content != ''">
				pack_content=#{packContent},
			</if>
			<if test="pack_calendar != null and pack_calendar != ''">
				pack_calendar=#{packCalendar},
			</if>
			<if test="pack_startdate != null and pack_startdate != ''">
				pack_startdate=#{packStartdate},
			</if>
			<if test="pack_enddate != null and pack_enddate != ''">
				pack_enddate=#{packEnddate},
			</if>
			<if test="pack_regdate != null and pack_regdate != ''">
				pack_regdate=#{packRegdate},
			</if>
			<if test="pack_people != null and pack_people != ''">
				pack_people=#{packPeople},
			</if>
			<if test="pack_childprice != null and pack_childprice != ''">
				pack_childprice=#{packChildprice},
			</if>
			<if test="pack_adultprice != null and pack_adultprice != ''">
				pack_adultprice=#{packAdultprice},
			</if>
			<if test="pack_totalprice != null and pack_totalprice != ''">
				pack_totalprice=#{packTotalprice},
			</if>
			<if test="pack_status == 0 or pack_status == 1">
				pack_status=#{packStatus}
			</if>
		</set>
		WEHRE pack_idx=#{packIdx}
	</update>
	
	<!-- 패키지 삭제 -->
	<delete id="deletePack">
		DELETE FROM pack WHERE pack_idx=#{packIdx}
	</delete>

	<!-- 패키지 제목으로 패키지 검색 -->
	<select id="selectPackByName" resultType="Pack">
		SELECT 
			pack_idx
			, pack_kind
			, pack_title
			, pack_preview
			, pack_main
			, pack_content
			, pack_calendar
			, pack_startdate
			, pack_enddate
			, pack_regdate
			, pack_people
			, pack_childcount
			, pack_adultcount
			, pack_adultprice
			, pack_childprice
			, pack_totalprice
			, pack_left
			, pack_status 
			, pack_heart
		FROM pack 
		WHERE pack_name LIKE '%' || #{keyword} || '%'
	</select>
	
	<!-- 패키지 전체 목록 검색  -->
	<select id="selectPackList" resultType="Pack">
		SELECT 
			pack_idx
			, pack_kind
			, pack_title
			, pack_preview
			, pack_main
			, pack_content
			, pack_calendar
			, pack_startdate
			, pack_enddate
			, pack_regdate
			, pack_people
			, pack_childcount
			, pack_adultcount
			, pack_adultprice
			, pack_childprice
			, pack_totalprice
			, pack_left
			, pack_status 
			, pack_heart
		FROM pack 
		ORDER BY pack_idx
	</select>
	
	<!-- 패키지 상품 정보 -->
	<select id="selectPackInfo" resultType="Pack">
		SELECT 
			pack_idx
			, pack_kind
			, pack_title
			, pack_preview
			, pack_main
			, pack_content
			, pack_calendar
			, pack_startdate
			, pack_enddate
			, pack_regdate
			, pack_people
			, pack_childcount
			, pack_adultcount
			, pack_adultprice
			, pack_childprice
			, pack_totalprice
			, pack_left
			, pack_status 
			, pack_heart
		FROM pack
		WHERE pack_idx=#{packIdx}
	</select>
</mapper>