<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moyeo.mapper.PaymentMapper">

	<!-- 결제내역 추가 -->
	<insert id = "insertPayment">
		<selectKey resultType="int" keyProperty="paymentIdx" order="BEFORE">
			SELECT payment_seq.nextval 
			FROM dual
		</selectKey>
		INSERT INTO payment( 
				imp_uid
				, merchant_uid
				, pack_idx
				, userinfo_id
				, payment_amount	
				, payment_date
				, payment_status
				, payment_idx
		)VALUES(
				#{impUid}
				, #{merchantUid}
				, #{packIdx}
				, #{userinfoId}
				, #{paymentAmount}
				, sysdate
				, 0
				, #{paymentIdx}
		)
	</insert>
	
	<!-- 결제 완료 -->
	<update id="updatePayment">
   		UPDATE payment 
   		SET
   			payment_status = 0
   			, payment_date = sysdate
   			, IMP_UID = #{impUid}
   			, MERCHANT_UID = #{merchantUid}
   		WHERE payment_idx = #{paymentIdx}
   </update>
	
	<!-- 결제 취소 state -->
	<update id="updatePaymentCancel">
   		UPDATE payment 
   		SET
   			payment_status = 1
   			, payment_date = sysdate
   			, IMP_UID = #{impUid}
   			, MERCHANT_UID = #{merchantUid}
   		WHERE payment_idx = #{paymentIdx}
   </update>
	
	<!-- 결제 취소 -->
   <delete id="deletePayment">
   		DELETE
   		FROM payment
   		WHERE payment_idx = #{paymentIdx}
   </delete>
   
   <!-- 조회 -->
   <select id="selectPayment" resultType="Payment">
      SELECT 
			imp_uid
			, merchant_uid
			, pack_idx
			, userinfo_id
			, payment_amount
			, TO_CHAR(payment_date,'YYYY-MM-DD') AS payment_date
			, payment_status
			, payment_idx
		FROM payment
      WHERE userinfo_id = #{arg0} AND pack_idx = #{arg1}
   </select>
	
	<!-- 결제내역 조회 -->
	<select id="selectMyPayment" resultType="payment">
		SELECT 
			imp_uid
			, merchant_uid
			, pack_idx
			, userinfo_id
			, payment_amount
			, payment_date
			, payment_status
			, payment_idx
		FROM payment
		WHERE imp_uid=#{impUid} AND userinfo_id=#{userinfoId}
	</select> 
	
	<!--<select id="selectMyPayment" resultType="payment">
	    SELECT
	        imp_uid,
	        merchant_uid,
	        userinfo_id,
	        payment_amount,
	        payment_date,
	        payment_status,
	        payment_idx
	    FROM payment
	    WHERE imp_uid = #{impUid}
	    AND userinfo_id = #{userinfoId}
	    AND (
	        REGEXP_SUBSTR(pack_idx, '[0-9]+', 1, 1) = #{firstNumber}
	        OR REGEXP_SUBSTR(pack_idx, '[0-9]+', 1, 2) = #{secondNumber}
	        OR REGEXP_SUBSTR(pack_idx, '[0-9]+', 1, 3) = #{thirdNumber}
	    );
	</select>
	  -->
	
	<!-- 관리자용 결제 내역 조회 -->
	<select id="selectAllPayments" resultType="payment">
		SELECT 
			 imp_uid
			, merchant_uid
			, pack_idx
			, userinfo_id
			, payment_amount
			, payment_date
			, payment_status
			, payment_idx
		FROM payment
		ORDERY BY payment_date DESC
	</select>
	
	<!-- 결제 상태 업데이트 -->
	<update id="updatePaymentStatus">
		UPDATE payment
		SET payment_status = #{paymentStatus}
		WHERE imp_uid=#{impUid} AND userinfo_id=#{userinfoId}
	</update>

</mapper>